/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Manrope', sans-serif;
    scroll-behavior: smooth;
}

/* KHAI BÁO CÁC ELEMENT DÙNG CHUNG*/
#main {
    --height-header: 56px;
}
.clear{
    clear: both;
}
.text-white{
    color: #fff!important;
}
.list-flexbox {
    display: flex;
    gap: 24px;
    margin-top: 40px;
}
.item-1col{
    width: 100%;
}
.item-2col{
    width: 50%;
}
.item-3col{
    width: 33.3333%;
}

.input-field{
    padding: 0px 12px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #dbdbdb;
    outline: none;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
}
.input-field::placeholder{
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    color:#9d9d9d;
}
.input-field:focus{
    border: 1px solid #3e3e3e;
}
.input-icon {
    position: absolute;
    margin: 12px;
    color:#9d9d9d;
}
.btn-40{
    display: flex;
    padding: 0px 12px;
    height: 40px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    background-color: #eaeaea;
    color:#666;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}
.btn-40:hover{
    background-color:#e5e5e5;
    cursor: pointer;
}

/* HEADER */
#header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--height-header);
    background-color: #000;
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
}
#nav { 
    display:inline-flex;
    align-items: center;
}
#nav .logo {
    height: var(--height-header);
    padding: 18px;
    margin: 0 16px;
}
#nav li {
    position: relative;
    display: inline-block;
}
#nav li:hover {
    background-color: #3e3e3e;
}
#nav li:hover .sub-nav{
    display: block;
}
#nav li a {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 0 24px;
    line-height: var(--height-header);
    color: #eaeaea;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 14px;
}
#nav .sub-nav {
    position: absolute;
    top: 100%;
    background-color:#fff ;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
    padding: 4px 0px ;
    min-width: 140px;
    display: none;
}
#nav .sub-nav li:hover {
    background-color:#eaeaea;
    width: 100%;
}
#nav .sub-nav a {
    color: #000;
    text-transform: none;
    padding: 0px 16px;
    line-height: 40px;
}
#nav .nav-more {
    font-size: 20px; 
}
#header .menu-btn {
    color: #fff;
    padding: 0px 20px;
    height: var(--height-header);
    display: none;
    align-items: center;
}
#header .menu-btn:hover, .search-btn:hover {
    background-color: #3e3e3e;
    cursor: pointer;
}
#header .search-btn {
    color: #fff;
    float: right;
    padding: 0px 20px;
    height: var(--height-header);
    display: flex;
    align-items: center;
}

/* Navi mobile &tablet */
.overlay-mobile{
    display: none;
    position: fixed;
    z-index: 1;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0, 0.7);
}
.nav-mobile {
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 300px;
    max-width: 100%;
    background-color: #fff;
    padding-top: 16px;
    transform: translateX(-400px);
    opacity: 0;
}

.nav-mobile .list-menu{
    padding-top: 32px;
}
.nav-mobile a {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 16px 0px;
    color: #282828;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 16px;
    line-height:24px;
}
.nav-mobile a:hover, .close-btn:hover {
    background-color: #dbdbdb;
}

/* SLIDER */
#slider {
    position: relative;
    margin-top: var(--height-header);
    padding-top: 50%;
    background: linear-gradient(180deg, rgba(0,0,0,0.0) 30%, #000),url('/assets/img/Heroimage.jpg') center / cover no-repeat;
}
#slider .text-onslider {
    position: absolute;
    bottom: 100px;
    width: 100%;
    color: #fff;
    text-align: center;
}
#slider .text-title {
    font-weight: 500;
    font-size: 40px;
}
#slider .text-body {
    margin-top: 12px;
    font-weight: 400;
    font-size: 18px;
}
/* CONTENT */
#content {
}
#content .content-section {
    width: 60%;
    padding: 100px 0px;
    margin: auto;
}
#content .section-heading {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}
#content .section-subtitle {
    font-size: 16px;
    text-align: center;
    font-style: italic;
    opacity: 0.5;
    padding: 4px 0px 24px;

}
#content .section-body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 1.4;
    opacity: 0.8;
}
/* CONTENT SECTION 1 */
#content .mem-item{
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 0 12px rgba(0,0,0, 0.08);
}
#content .mem-item:hover{
    box-shadow: 0 10px 50px rgba(0,0,0, 0.1);
}
#content .mem-name{
    text-align: center;
    opacity: 0.5;
    font-weight: 500;
    margin: 12px 0px 16px 0px;
}
#content .mem-ava{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}
/* CONTENT SECTION 2 */
#content .tour-section{
    background-color: #282828;
}
.tour-section .ticket-list{
    list-style: none;
}
.ticket-list li{
    padding: 16px 24px;
    margin-bottom:  1px;
    background-color:#eaeaea;
    color: #282828;
    font-size: 18px;
}
.ticket-list .top-item{
    border-radius: 16px 16px 0px 0px;
}
.ticket-list .bottom-item{
    border-radius: 0px 0px 16px 16px;
}
.ticket-list .sold-out{
    background-color: #bf0000;
    float: right;
    padding: 4px 12px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 4px;
}
.ticket-list .quantity{
    background-color: #000;
    float: right;
    width: 24px;
    height: 24px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    margin-left: 4px;
}

.place-list .place-item{
    box-shadow: 0 10px 50px rgba(0,0,0, 0.1);
}
.place-list .img-place{
    width: 100%;
    height: 240px;
    object-fit:cover;
    align-items: center;
    display: block;
    border-radius: 16px 16px 0px 0px;
}
.place-item:hover .img-place{
    opacity: 0.8;
}
.place-list .place-intro{
    background-color: #fff;
    padding: 24px;
    border-radius: 0px 0px 16px 16px;
}

.place-intro h2{
    font-weight: 500;
    font-size: 24px;
}
.place-list .time{
    margin: 6px 0px 16px 0px;
    opacity: 0.5;
    font-size: 14px;
}
.place-list .about-place{
    margin-bottom: 16px;
    line-height: 1.4;
    opacity: 0.8;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* MODAL */
.modal{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.7);
}
.modal.open {
    display: flex;
}
.modal-container{
    width: 600px;
    max-width: calc(100% - 32px);
    border-radius: 16px;
    box-shadow: 0 10px 50px rgba(0,0,0, 0.1);
    animation: modalFadeIn ease 0.6s;
}
@keyframes modalFadeIn{ 
    from{
        transform: translateY(-80px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.modal-header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 24px 0px;
    gap: 8px;
    border-radius: 16px 16px 0px 0px;
    background-color:#282828;
    font-size: 20px;
    font-weight: 500;
}
.close-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 16px;
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    border-radius:100px;
    color: inherit;
    cursor: pointer; 
}
.modal .close-btn:hover{
    background-color: #3e3e3e;
}
.modal-body{
    padding: 4px 20px;
    background-color: #fff;
}
.modal-label{
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0px 4px;
}
.input-field.in-modal{
    padding: 0px 12px 0px 36px;
    width: 100%;
}
.modal-footer{
    padding:12px 20px;
    font-size: 12px;
    background-color: #fff;
    border-radius: 0px 0px 16px 16px;
}

#modal-help{
    display: flex;
    gap: 4px;
    width: 100%;
    margin: 6px 0px 0px;
    justify-content: right;
}

/* CONTENT SECTION 3 */
.infor-item{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 12px;
}
.icon-list{
    color:#666666;
}
.contact-form .row1{
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}
.contact-form .row2{
    width: 100%;
    margin-bottom: 12px;
}
.contact-form .submit-btn{
    float: right;
}
.map{
    width: 100%;
    padding-top: 50%;
    background: url('/assets/img/Footer-Banner.png') center / cover;
}
/* FOOTER */
#footer {
    width: 60%;
    padding: 50px 0px;
    margin: auto;
    text-align: center;
    color:#666;
}

#footer a {
    color:#666;
    padding: 0px 2px;
}
#footer a:hover{
    color:#9d9d9d;
    cursor: pointer;
}
.social-list{
    margin-bottom: 16px;
}
/* Mobile & Tablet: <1024px */
@media only screen and (max-width: 63.9375em){
    
}
/* Mobile: <740px */
@media only screen and (max-width: 46.1875em){
    #main {
        --height-header: 44px;
    }
    .item-2col{
        width: 100%;
    }
    .item-3col{
        width: 100%;
    }
    .list-flexbox {
        flex-direction: column;
        gap: 16px;
        margin-top: px;
    }
    #header .menu-btn {
        display: flex;
    }
    .search-btn span {
        font-size: 20px;
    }
    #nav .logo {
        margin: 0px;
        padding: 14px 0px;
    }
    #nav li {
        display: none;
    }
    #content .content-section {
        width: 100%;
        padding: 64px 16px;
    }
    #content .section-heading {
        font-size: 32px;
    }
    #slider {
        padding-top: 120%;
    }
    #slider .text-onslider {
        bottom: 24px;
    }
    #slider .text-title {
        font-size: 24px;
    }
    #slider .text-body {
        margin-top: 8px;
        font-size: 14px;
    }
    .infor-item{
        display: flex;
        justify-content: center;
    }
    .map{
        padding-top: 120%;
    }
    /* Hiệu ứng đóng mở menu mobile */
    .open-menu-input:checked ~ .overlay-mobile{
        display: flex;
    }
    .open-menu-input:checked ~ .nav-mobile{
        transform: translateX(0px);
        opacity: 1;
        transition: transform ease 0.5s, opacity ease 0.8s;
    }
    .open-menu-input:not(:checked) ~ .nav-mobile{
        transform: translateX(-400px);
        opacity: 0;
        transition: transform ease 0.5s, opacity ease 0.8s;
    }
    .nav-mobile.hidenav {
        transform: translateX(-200px);
    }
    
}
/* Tablet: 740px -> 1023px */
@media only screen and (min-width:46.25em) and (max-width: 63.9375em) {
    #content .content-section {
        width: 90%;
    }
    #content .section-heading {
        font-size: 38px;
    }
    #slider .text-onslider {
        bottom: 64px;
    }
    #slider .text-title {
        font-size: 32px;
    }
    #slider .text-body {
        font-size: 16px;
    }
    
}